
#painel-flutuante {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  text-align: center;
  position: absolute;
  width: 30rem;
  padding: 1rem;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


#box-button {
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

#btn-painel {
  border: none;
  outline: none;
  background-color: var(--cor-laranja);
  padding: 0.25rem 2rem;
  color: white;
  border-radius: 1.5rem;
}
    