#step-five {
  display: flex;
  flex-direction: column;
}

#step-five h2 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
}

.step-five-opt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
