#page-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  color: var(--cor-verde);
}

#page-row button {
  border: none;
  background-color: transparent;
  color: var(--cor-verde);
}

#page-row input[type="submit"] {
  background-color: var(--cor-verde);
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.5rem 6rem;
  width: 37%;
}

#page-col {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

#page-col h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

#page-col input {
  margin-top: 1rem;
  font-size: 1rem;
  width: 800px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--cor-verde);
}

#page-col label {
  margin-top: 1rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

#page-col form > div {
  display: flex;
  justify-content: center;
}

#left-arrow {
  margin-top: 3rem;
  padding: 2rem;
}

#left-arrow span {
  font-size: 2rem;
  font-weight: 300;
}
