#page-row-perfil {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  color: var(--cor-verde);
}

#page-row-perfil input[type="submit"] {
  background-color: var(--cor-verde);
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0.5rem 6rem;
  width: 37%;
}

#page-col-perfil {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

#page-col-perfil h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

#page-col-perfil input {
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 800px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--cor-verde);
}

#page-col-perfil label {
  margin-top: 1rem;
  font-size: 1.3rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

#page-col-perfil form > div {
  display: flex;
  justify-content: center;
}

#left-arrow {
  margin-top: 3rem;
  padding: 2rem;
}

#left-arrow span {
  font-size: 2rem;
  font-weight: 300;
}

.perfil-data {
  font-size: 1rem;
  opacity: 0.8;
}

.row-line-edit {
  display: flex;
  justify-content: space-between;
}

.row-line-edit button {
  border: none;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--cor-verde);
  background-color: transparent;
}

.custom-file-upload {
  display: inline-block;
  position: relative;
  color: #000000;
  border-bottom: 1px solid var(--cor-verde);
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload:hover {
  background-color: #00000020;
}
